@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background-image: url("./assets/img/luke-chesser-eICUFSeirc0-unsplash.jpg");
  color: white;
}

header {
  text-align: center;
}

#tabella,
td,
th {
  border: 1px solid white;
  border-collapse: collapse;
  width: 500px;
}

#video {
  text-align: center;
}

#link {
  color: aqua;
}

#newsletter {
  text-align: center;
}

#correlati {
  padding-bottom: 20px;
}

#map iframe {
  width: 400px;
  height: auto;
}
